@charset "UTF-8";
body {
    width: 100%;
    background-color: #f5f5f5; 
    font-family: Arial, sans-serif;
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Ensures vertical stacking */
    justify-content: space-between;
    height: 96vh;
}

header{
    height: 80px;
    border: solid 1px purple;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    font-size:larger;
    background:linear-gradient(to right, rgb(172, 90, 172),rgb(132, 231, 231) );
}

footer {
    height: 60px;
    border: solid 1px purple;
    justify-content: center;
    text-align: center;
    background:linear-gradient(to right, rgb(172, 90, 172),rgb(132, 231, 231) );
}

main {
    display: flex; /* Enables flexbox layout */
    justify-content: space-around; /* Align divs side by side */
    justify-content: space-evenly;
}
div{
    width: 40%;
    float: left;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid rgb(91, 48, 159);
    border-radius: 10%;
    overflow: hidden;
    display: grid;/* Enables flexbox layout */
    justify-content: center; /* Aligns horizontally */
    align-items: center; /* Aligns vertically */
    height: 450px; /* Sets height of the div */
}
a{
	display: grid;	
	justify-content: center; /* Aligns horizontally */
    align-items: center; /* Aligns vertically */
    text-decoration: none;
}

